@using JabbR_Core.ViewModels;
@model SocialLoginViewModel
    <div class="control-group">
        <div class="controls">
           <!-- <form action="atsignUrl.Content("~/account/unlink" + Html.RequestQuery())" method="POST">
                atsignforeach (var provider in Model.ConfiguredProviders)
                {
                    <ul class="inline">
                        atsignif (!Model.IsAlreadyLinked(provider))
                        {
                            <li><a class="btn btn-provider" href="atsignUrl.Content("~/authentication/redirect/" + provider.ToLower() + Html.RequestQuery())"><i class="icon-atsignprovider.ToLower()"></i> atsignprovider</a></li>
                        }
                        else
                        {
                            <li><div class="provider"><i class="icon-atsignprovider.ToLower()"></i> atsignprovider</div><button type="submit" class="btn-unlink" name="provider" value="atsignprovider.ToLower()" title="atsignLanguageResources.Account_UnlinkIdentityProvider"><i class="icon-unlink"></i></button></li>
                        }
                    </ul>
                }
                @Html.AntiForgeryToken()
            </form>-->
        </div>
    </div>
