@using JabbR_Core.ViewModels
@using Microsoft.AspNetCore.Http
@using System.Collections.Generic
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http.Authentication

@model SocialLoginViewModel
@inject SignInManager<ChatUser> SignInManager


<div class="control-group">
    <div class="controls">
        @{
            var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
            if (loginProviders.Count == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div>
            }
            else
            {
                <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div class="text-center">
                        <p>
                            @foreach (var provider in loginProviders)
                            {
                                <p>Log in using your @provider.DisplayName account</p>
                                <button type="submit" class="btn btn-default" name="provider" value="@provider.AuthenticationScheme">@provider.AuthenticationScheme</button>
                                <br/>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </div>
</div>
