<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Forbidden 403</title>
</head>
<body>
    <center>
        <img src="~/images/forbidden.jpg" alt="Forbidden Trooper" />
    </center>
</body>
</html>