@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<center>
    <h3>@ViewData["Title"]</h3>
    <p>
        Please check your email to reset your password.
    </p>
</center>


@{
    Layout = "_layout.cshtml";
}


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}