@using JabbR_Core.ViewModels;
@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot your password?";
}

<center>
    <h3>@ViewData["Title"]</h3>
    <p>Don't worry! We've got you covered. Just let us know which email address you signed up with and we'll send you a link to change your password.</p>
</center>


@{
    Layout = "_layout.cshtml";
}
<div class="row-fluid">
    <div class="span6 offset3">
        <div class="user-registration">
            <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-envelope"></i></span>
                            <input asp-for="Email" class="form-control" placeholder="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <center>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </center>
                    </div>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}