@using JabbR_Core

<script id="command-confirm-template" type="text/x-jquery-tmpl">
    <div class="modal hide fade">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>Confirm ${Name} command</h3>
        </div>
        <div class="modal-body">{{html ConfirmMessage}}</div>
        <div class="modal-footer">
            <a class="btn" href="#">@LanguageResources.Client_Cancel</a>
            <a class="btn btn-danger" href="#">@LanguageResources.Client_Confirm</a>
        </div>
    </div>
</script>