<script id="command-help-template" type="text/x-jquery-tmpl">
    <dt>
        <span class="command command-name">{{if IsKeyCombination}}{{else}}/{{/if}}${Name}</span>
        {{if Arguments}}<span class="command command-args">${Arguments}</span>{{/if}}
    </dt>
    <dd>${Description}</dd>
</script>