@using JabbR_Core;

<!-- /GitHub Issues Content Provider -->
<script id="github-issues-template" type="text/x-jquery-tmpl">
    <div class="new-comments">
        <div class="avatar-bubble js-comment-container">
            <span class="avatar">
                <img height="48" width="48" src="${user.avatar_url}">
                <span class="overlay size-48"></span>
            </span>
            <div class="bubble">
                <div class="comment starting-comment ">
                    <div class="body">
                        <p class="author">
                            @Html.Raw(String.Format(LanguageResources.GithubContent_UserOpenedIssueAtTime, "${user.login}", "${created_at}"))
                        </p>
                        <a href="${html_url}" target="_blank"><h2 class="content-title">${title}</h2></a>
                        <div class="infobar clearfix">
                            <p class="milestone js-milestone-infobar-item-wrapper">@LanguageResources.GithubContent_NoMilestone</p>
                            {{if assignee}}
                            <p class="assignee">
                                <span class="avatar">
                                    <img height="20" width="20" src="${assignee.avatar_url}">
                                    <span class="overlay size-20"></span>
                                </span>
                                @Html.Raw(String.Format(LanguageResources.GithubContent_UserAssigned, "${assignee.login}"))
                            </p>
                            {{/if}}
                        </div>
                        <div class="formatted-content">
                            <div class="content-body wikistyle">
                                <p>
                                    {{html body}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<!-- /Github Issus Content Provider -->