@using JabbR_Core;

<!--Gravatar Profile Template for Who command-->
<script id="gravatar-profile-template" type="text/x-jquery-tmpl">
    <div class="collapsible_content">
        <h3 class="collapsible_title">
            @Html.Raw(String.Format(HtmlEncoder.Encode(LanguageResources.GravatarContent_HeaderAndToggle), "${profileUrl}"))
        </h3>
        <div class="collapsible_box">
            <div class="gravatar_${hash} gravatarProfile">
                <div class="user">
                    <img src="${thumbnailUrl}">
                    <span class="name">${preferredUsername}</span>{{if name.formatted}} (${name.formatted}){{/if}}
                    <p><a href="${profileUrl}" target="_blank">${profileUrl}</a></p>
                </div>
            </div>
        </div>
    </div>
</script>
<!--/Gravatar Profile Template-->