@using JabbR_Core;

<script id="multiline-content-template" type="text/x-jquery-tmpl">
    <div class="collapsible_content">
        <h3 class="collapsible_title">@LanguageResources.Content_PasteHeaderAndToggle</h3>
        <div class="collapsible_box">
            <pre class="multiline">${content}</pre>
        </div>
    </div>
</script>