@using JabbR_Core;

<script id="new-lobby-room-template" type="text/x-jquery-tmpl">
    <li class="room {{if Private}}locked{{/if}} {{if Closed}}closed{{/if}}" data-room="${Name}" data-name="${Name}" data-count="${Count}">
        <div class="row-fluid room-row">
            <div class="span3">
                <span class="name">${Name}</span>
                <span class="lock"><i class="icon-lock"></i></span>
                <span class="readonly"><i class="icon-ban-circle"></i></span>
            </div>
            <div class="span4">
                <span class="topic">{{html processedTopic}}</span>
            </div>
            <div class="span2">
                <span class="count">
                    {{if Count == 0}}
                    @LanguageResources.Client_OccupantsZero
                    {{else Count == 1}}
                    @LanguageResources.Client_OccupantsOne
                    {{else}}
                    @String.Format(LanguageResources.Client_OccupantsMany, "${Count}")
                    {{/if}}
                </span>
            </div>
        </div>
    </li>
</script>