<script id="new-notification-template" type="text/x-jquery-tmpl">
    <li class="${type}" data-timestamp="${date}" {{if id}} id="m-${id}" {{/if}}>
        <div class="content">
            {{if img}}
            <img src="${img}" />
            {{/if}}
            {{if source}}
            <strong>${source}:</strong>
            {{/if}}
            {{html message}}
            <a class="info" href="#"></a>
        </div>
        <div class="right">
            <span class="time" title="${fulldate}">${when}</span>
        </div>
    </li>
</script>