<script id="new-tab-template" type="text/x-jquery-tmpl">
    <li id="tabs-${id}" class="room" data-name="${name}" data-closed="${closed}" data-trimmable="true" role="tab">
        <a>
            <i class="icon-lock lock hide"></i>
            <i class="icon-ban-circle readonly hide"></i>
            <span class="content">${name}</span>
            <button class="close">&times;</button>
        </a>
        @* TODO: Fix this, <button> cannot be nested inside <a> *@
    </li>
</script>