@using JabbR_Core;


<script id="new-userlist-template" type="text/x-jquery-tmpl">
    <h3 class="userlist-header nav-header">
        <span class="list-name">${listname}</span>
    </h3>
    <div>
        <ul id="${id}" data-empty-message="@LanguageResources.Client_NoUsersInList" />
    </div>
</script>