<!-- TweetContentProvider: Should be extracted out if other content providers need templates -->
<script id="tweet-template" type="text/x-jquery-tmpl">
    <div class="collapsible_content">
        {{html html}}
    </div>
    <time class="js-relative-date" datetime="${created_at}">${created_at}</time>
</script>
<!-- /TweetContentProvider -->